$buttonWidth: 120px;
$keyboardWidth: $buttonWidth * 4;
$backgroundColor: #555;
$inputColor: #fac;
$buttonColor: #ddd;
$highlightColor: #aa0;
$acColor: #0aa;
$font: 'Digital-7', 'Courier New', Courier, monospace;
